<div id="sidebar" class="box box-left">
    <h2>XUANYU LI</h2>
    <div class="img circle"></div>

    <nav class="circle-menu">
        <!-- <div class="center"></div> -->
        <ul id='menu'>
            <li class='objective'>
                <a href="#objective">Objective</a>
            </li>
            <li class='work'>
                <a href="#work">Experience</a>
            </li>
            <li class='education'>
                <a href="#education">Education</a>
            </li>
            <li class='skills'>
                <a href="#skills">Skills</a>
            </li>
            <li class='projects'>
                <a href="#projects">Projects</a>
            </li>
            <li class='random'>
                <a href="#random">Random</a>
            </li>
        </ul>
    </nav>
</div>
